{{firstName}}
<form>
<label>Name</label>
<input type=text" name="firstName" value='{{firstName}}'/>
</form>

{{!--
{{#form "#"}}
{{#label}}
    Name 
{{/label}}
{{input "firstName" firstName}}
{{input "lastName" lastName}}
{{#label}}eMail{{/label}} 
{{input "email" email}}
{{#label}}Address{{/label}}
{{input "address1" address1}}
{{input "city" city}}
{{input "country" country}}
{{input "city" city}} 
{{input "state" state}}
{{input "country" country}}
{{input "amount" amount}}
{{input "receivedDate" receivedDate}}
{{input "checkDate" checkDate}}
{{/form}}
--}}